<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="account_form">
        <%= render 'shared/account_form' %>
      </section>
      <ol class="accounts">
        <br>
        <h4>Your activate accounts:</h4>
        <%= render current_user.accounts.where(activated: true) %>
      </ol>
    </aside>
    <div class="col-md-8">
      <h3>Latest News</h3>
      <ol class="news">
        <%= render 'shared/news' %>
      </ol>
    </div>
  </div>
<% else %>
  <video class="header__video" loop="" muted="" poster="assets/HKSE.png" data-reactid="296" autoplay="true" style="display: block;">
    <source src="assets/HKSE.mp4" type="video/mp4" data-reactid="298">
  </video>
  <div class="center jumbotron">
    
    <h1>SecuSim by CalebHK</h1>
    <p>
      This is the home page of SecuSim created by CalebHK.
    </p>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>