<li>
  <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
  <span class="name"><strong>Pakistan Sufi shrine: 20 murdered in Punjab</strong></span>
  <span class="money">From BBC.com</span>
  <span class="money">Posted <%= time_ago_in_words(2.hours.ago) %> ago.</span>
</li>
<li>
  <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
  <span class="name"><strong>Cyclone Debbie: Australia surveys devastation</strong></span>
  <span class="money">From BBC.com</span>
  <span class="money">Posted <%= time_ago_in_words(12.hours.ago) %> ago.</span>
</li>
<li>
  <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
  <span class="name"><strong>Colombia landslide: Rescue teams race to reach survivors</strong></span>
  <span class="money">From BBC.com</span>
  <span class="money">Posted <%= time_ago_in_words(20.hours.ago) %> ago.</span>
</li>
<li>
  <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
  <span class="name"><strong>Celtic champions after 5-0 win at Hearts</strong></span>
  <span class="money">From BBC.com</span>
  <span class="money">Posted <%= time_ago_in_words(2.days.ago) %> ago.</span>
</li>
<li>
  <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
  <span class="name"><strong>Ikutaro Kakehashi: Roland founder and music pioneer dies aged 87</strong></span>
  <span class="money">From BBC.com</span>
  <span class="money">Posted <%= time_ago_in_words(1.weeks.ago) %> ago.</span>
</li>